@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap");
@font-face {
  font-family: 'Myriad Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url(".././fonts/MYRIADPRO-REGULAR.woff") format("woff");
}

@media (min-width: 1200px) {
  .top-menu-items__btn {
    display: none;
  }
  .top-menu-items-list {
    position: static;
    display: inline-block;
    margin: 0px;
  }
  .top-menu-items__item {
    display: inline-block;
    width: auto;
    padding: 0px;
    background-color: #fff;
  }
  .top-menu-items__item:hover {
    background-color: #d58e32;
  }
  .top-menu-items__item-link {
    padding: 40px 20px;
    color: #2a2a2a;
  }
  .top-menu-items__item-link:hover {
    border-top: 4px solid #2a2a2a;
    border-bottom: 1px solid transparent;
    padding-top: 36px;
  }
  .top-menu__input-wrapper {
    margin: 27px 0px 0px 0px;
  }
}

@media (min-width: 1200px) {
  .stocks {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .stocks__sofa {
    background: url("../img/06_stocks/sofa-768.png") no-repeat;
    width: 100%;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 28px;
    background-size: cover;
  }
  .stocks__container {
    width: 489px;
    height: 355px;
    background: rgba(42, 42, 42, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: baseline;
  }
  .stocks__text-sofa {
    display: inline-block;
    margin-left: 20px;
    color: #ffffff;
    font-family: Poppins,sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .stocks__bigger-text {
    display: inline-block;
    color: #ffffff;
    font-family: Poppins,sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    bottom: 20px;
  }
  .stocks__price-sofa {
    display: inline-block;
    margin-left: 20px;
    padding: 5px 10px;
    font-family: "Poppins - Semi Bold",sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    position: relative;
    bottom: 20px;
    border: 5px solid white;
    letter-spacing: 2px;
  }
  .stocks__block1 {
    background: #e0e3ed;
    width: 100%;
    height: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 31px;
  }
  .stocks__img1 {
    background: url("../img/06_stocks/chair1-768.png");
    width: 151px;
    height: 195px;
  }
  .stocks__img2 {
    background: url("../img/06_stocks/chair2-768.png");
    width: 151px;
    height: 195px;
  }
  .stocks__name1 {
    color: #000000;
    font-family: "Poppins - Semi Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    display: block;
    white-space: nowrap;
  }
  .stocks__small-text1 {
    color: #000000;
    font-family: "Poppins - Semi Bold", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2.8px;
    display: block;
  }
  .stock__price-item {
    color: #d58e32;
    font-family: "Poppins - Semi Bold",sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .stocks__block2 {
    background: #f7def2;
    width: 100%;
    height: 195px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 34px;
  }
  .stocks__img3 {
    background: url("../img/06_stocks/bed-768.png");
    width: 253px;
    height: 193px;
  }
  .stocks__item2 {
    margin-right: 32px;
    text-align: center;
  }
  .stocks__name2 {
    color: #d58e32;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins - Semi Bold",sans-serif;
    letter-spacing: -0.5px;
  }
  .stocks__small-text2 {
    color: #d58e32;
    font-family: "Poppins Light",sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: -2px;
  }
  .stocks__description {
    color: #000000;
    font-family: Poppins,sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

@media (min-width: 1200px) {
  .gallery-banner {
    display: inline-block;
    max-width: 540px;
    height: 621px;
    margin: 75px 0px 0px 15px;
    padding: 75px 0px 0px 0px;
    background-color: #e8edf7;
  }
  .gallery-banner-info {
    padding-left: 60px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .gallery-banner-info-price {
    margin-bottom: 30px;
    font-size: 13px;
  }
  .gallery-banner-info-price span {
    font-size: 36px;
    color: #79ae30;
  }
  .gallery-banner-info-title {
    margin-bottom: 35px;
    font-size: 36px;
    font-weight: 700;
    color: #d58e32;
  }
  .gallery-banner-info-btn {
    padding: 20px 30px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background: #79ae30;
  }
  .gallery-banner-img-wrapper {
    padding: 30px 0px 0px 40px;
  }
  .gallery-banner-img {
    width: 450px;
  }
}

.modal-content--custom {
  margin: 0 28px;
  border-radius: 0px;
}

.modal__btn--close {
  width: 40px;
  opacity: 1;
  padding: 13px !important;
  font-size: 13px;
  color: #fff;
  background-color: #2a2a2a !important;
}

.modal__btn--close:hover {
  color: #fff !important;
  background-color: #d58e32 !important;
}

.modal__btn--close:hover .fas {
  color: #fff !important;
}

.modal__btn-sbm {
  width: 115px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #2a2a2a !important;
}

.modal-title--font {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
}

.modal-header--border-none {
  border: none;
}

.modal__element--padding {
  padding: 0 40px 32px 40px;
}

.modal-btn-wrapper {
  margin-bottom: 30px;
}

.modal-cart-btn-wrapper {
  margin-bottom: 0px;
}

.modal-cart-info {
  display: grid;
  grid-template-columns: 200px 125px;
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "img title" "img old-price" "img price" "quantity sum" "quantity sum";
  margin: 0px 14px 30px 0px;
  padding: 15px 15px 15px 20px;
  border: 1px solid #aaaaaa;
  border-radius: 2px;
}

.modal-cart-info-img {
  grid-area: img;
  width: 220px;
  text-align: center;
}

.modal-cart-info-img img {
  height: 155px;
}

.modal-cart-info-title {
  grid-area: title;
  margin-bottom: 0px;
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
}

.modal-cart-info-old-price {
  grid-area: old-price;
  margin-bottom: 0px;
  font-family: 'Poppins';
  font-size: 20px;
  color: #aaaaaa;
  text-decoration: line-through;
}

.modal-cart-info-price {
  grid-area: price;
  margin-bottom: 0px;
  margin-right: 18px;
  padding: 16px 10px 4px 10px;
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: 700;
  line-height: .75;
  color: #fff;
  background-color: #2a2a2a;
}

.modal-cart-info-sum {
  grid-area: sum;
}

.modal-cart-info-sum-text {
  margin: 30px 0px 0px 0px;
  padding-right: 32px;
  font-family: 'Poppins';
  font-size: 20px;
  text-align: right;
  color: #aaaaaa;
}

.modal-cart-info-sum-cash {
  font-size: 22px;
  font-weight: 700;
  text-align: right;
}

.modal-cart-info-quantity {
  grid-area: quantity;
  margin-top: 30px;
}

.modal-cart-info-quantity-text {
  line-height: 1;
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 700;
}

.modal-cart-info-quantity-amount {
  display: inline-block;
  margin-bottom: 0px;
  padding: 12.25px 35px;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
}

.modal-cart-info-quantity-btn {
  margin-left: 10px;
  padding: 12px 13px;
  border: 1px solid #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  background-color: #fff;
}

.modal-cart-info-quantity-btn:hover {
  color: #d58e32;
  border-color: #d58e32;
}

.modal-cart-help-div {
  display: none;
}

.modal-cart-total-price {
  margin: 15px 20px 15px 0px;
  font-family: 'Poppins';
  font-size: 22px;
  text-align: right;
}

.modal-cart-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.modal-cart-btn {
  width: 135px;
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #939393;
}

.modal-cart-btn i {
  margin-right: 6px;
}

.modal-cart-btn:hover {
  color: #fff;
  background-color: #d58e32;
}

.modal-cart-empty {
  padding: 0px 70px;
}

.modal-cart-empty.hide-cart {
  display: none;
}

.modal-cart-empty-text1 {
  font-family: 'Poppins';
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #939393;
}

.modal-cart-empty-text2 {
  font-family: 'Poppins';
  font-size: 30px;
  text-align: center;
  color: #939393;
}

@media (min-width: 768px) {
  .modal-dialog-custom {
    max-width: 750px;
  }
  .modal-body-custom {
    padding: 16px 40px;
  }
  .modal-cart-info {
    grid-template-columns: 210px 90px 210px 85px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img title title ." "img old-price price ." "img quantity quantity sum";
    margin-right: 0px;
    border-radius: 5px;
  }
  .modal-cart-info-img img {
    height: 175px;
  }
  .modal-cart-info-old-price {
    padding-top: 8px;
    line-height: 1;
  }
  .modal-cart-info-price {
    margin: 0px 104px 30px 0px;
    padding: 10px;
  }
  .modal-cart-info-sum-text {
    margin: 0px 0px 2px 0px;
    padding-right: 25px;
  }
  .modal-cart-info-quantity {
    margin-top: 24px;
  }
  .modal-cart-info-quantity-text {
    display: inline-block;
    margin-right: 25px;
  }
}

@media (min-width: 1200px) {
  .modal-dialog-custom {
    max-width: 1150px;
  }
  .modal-cart-info {
    grid-template-columns: 220px 90px 190px 350px 120px;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "img title title title ." "img old-price price quantity sum" "img . . . .";
    margin-right: 25px;
    border-radius: 5px;
  }
  .modal-cart-info-img img {
    height: 210px;
  }
  .modal-cart-info-title {
    padding: 8px 0px;
  }
  .modal-cart-info-old-price {
    padding-top: 36px;
    line-height: 1;
  }
  .modal-cart-info-price {
    margin: 27px 84px 17px 0px;
  }
  .modal-cart-info-sum {
    margin-top: 4px;
  }
  .modal-cart-info-sum-text {
    margin: 0px 0px 2px 0px;
    padding-right: 25px;
    line-height: 1;
  }
  .modal-cart-info-quantity-text {
    display: inline-block;
    margin-right: 25px;
  }
  .modal-cart-total-price {
    margin-right: 47px;
  }
  .modal-cart-btns {
    padding: 0px 36px 0px 10px;
  }
}

.qw-modal__img {
  max-width: 230px;
  max-height: 200px;
}

.qw-modal__name {
  font-size: 24px;
  color: #2a2a2a;
  font-family: "Poppins - Semi Bold",sans-serif;
}

.qw-modal__line {
  width: 348px;
  height: 1px;
  background: #b8b8b8;
}

.qw-modal__crossed-price {
  text-decoration: line-through;
  padding: 5px 10px;
  margin-right: 5px;
}

.qw-modal__price {
  font-family: "Poppins - Semi Bold", sans-serif;
  font-size: 18px;
  background: #2a2a2a;
}

.qw-modal__add-to-cart {
  font-size: 13px;
  background: #d58e32;
  font-family: "Poppins - Semi Bold", sans-serif;
  border: none;
}

.qw-modal__text-overview {
  color: #676767;
  font-family: Poppins,sans-serif;
  font-size: 14px;
  line-height: 25px;
}

.qw-modal-availability {
  color: #676767;
  font-family: Poppins,sans-serif;
}

.qw-modal__button {
  border: none;
  outline: none;
  font-family: Poppins,sans-serif;
  font-size: 13px;
}

.qw-modal__button2 {
  border: 1px solid #676767;
  background: white;
  color: #676767;
  font-family: Poppins,sans-serif;
}

.qw-modal__button2 .fa-google-plus-g {
  color: #d62d20;
}

.qw-modal__button2 .fa-twitter {
  color: #4099ff;
}

.qw-modal__button2 .fa-pinterest-p {
  color: #c92228;
}

.qw-modal__button2 .fa-linkedin-in {
  color: #0077b5;
}

.close {
  top: 20px;
  right: 0;
  color: #ffffff;
  background: black !important;
  padding: 10px 15px !important;
  opacity: 1 !important;
  outline: none !important;
}

.close:hover {
  color: #d58e32 !important;
}

.component--underline:hover {
  border-bottom: 1px solid white;
}
